.screen.--help .screen-header,
.screen.--help .screen-footer {
    margin: 40px auto 20px;
}

.screen.--help .screen-header .game-control {
    margin: 0 30px 40px 0;
}

.screen.--help .game-control:hover {
    color: #cc0000;
}
